/* from http://www.sohtanaka.com/web-design/fancy-thumbnail-hover-effect-w-jquery/ thx ! */
ul.thumbnails {
	list-style: none;
	margin: 0;
	overflow: visible;
	padding: 50px;
  display: inline-block;
}
ul.thumbnails li {
	margin: 0;
	padding: 5px;
	float: left;
	position: relative;  /* Set the absolute positioning base coordinate */
	width: 110px;
	height: 110px;
}
ul.thumbnails li img {
	width: 100px;
	height: 100px; /* Set the small thumbnail size */
	-ms-interpolation-mode: bicubic; /* IE Fix for Bicubic Scaling */
	border: 1px solid #ddd;
	padding: 5px;
	background: #f0f0f0;
	position: absolute;
	left: 0;
	top: 0;
}
.thumb_jpolaroid.hover {
  box-shadow: 6px 6px 8px  rgba(0, 0, 0, 0.85);
	-moz-box-shadow:  6px 6px 8px  rgba(0, 0, 0, 0.85);
	-webkit-box-shadow: 6px 6px 8px rgba(0,0,0, 0.85);
}