/*catégories*/
#content .thumbnailCategories {
	padding-left:auto;
	padding-right:auto;
	list-style: none outside none;
	text-align: center;
	background-image:none;
}
#content .thumbnailCategories li {
	width: auto;
	float: none;
	display:inline;
	text-align:center;
	margin-left:10px;
	margin: 5px;
	padding: 5px;
	background-image:none;
}
#content .thumbnailCategories li:hover {
	background-image:none;
}
#content div.thumbnailCategory div.illustration {
	width:auto;
	height:auto;
	/*height:135px;*/
	text-align:center;
	overflow: inherit;
	float:none;
	margin: 0;
	padding: 0;
	background-image:none;
}
#content div.thumbnailCategory div.description {
	width:auto;
	height:auto;
	text-align:center;
	overflow:inherit;
	float:none;
	overflow: auto;
	background-image:none;
}
.description img {
	float:right;
}
#content div.thumbnailCategory div.description p {
	text-align: center;
}
/* --------------Hack-------------*/
#content div.thumbnailCategory {
	display: inline-block;
	margin: 5px auto;
	padding:5px;
	vertical-align: middle;
	width:160px;
	height:205px;
	text-align: center;
	background-image:none;
}
#content div.thumbnailCategory * {
	vertical-align: middle;
}
/*\*//*/
#content div.thumbnailCategory {
    display: block;
}
#content div.thumbnailCategory span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/
/* --------------fin Hack-------------*/

#content div.thumbnailCategory div.description h3 {
	text-align:center;
}
#content div.thumbnailCategory div.illustration img {
	height: 96px;
}
