#items a {
	text-decoration:none;
	color:#fffccc;
}
#items {
	width:786px;
	margin:10px auto;
	overflow: hidden;
}
#items .item {
	display:block;
	border:2px solid #666;
	float:left;
	position:relative;
}
#items .item .caption {
	position:absolute;
	top:80px;
	left:2px;
	padding:3px;
	font-size:10px;
	display:none;
	background:#000;
	width: 97%;
}
.clear {
	clear:both;
}
.effect {
	/* CSS3 shadow */
    box-shadow: 0 0 10px #444;
	-moz-box-shadow: 0 0 10px #444;
	-webkit-box-shadow: 0 0 10px #444;
}
